[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dapr-ext-grpc = "*"
grpcio = "*"
grpcio-tools = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.10"
